


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
    <div id="categories-container">
        <h1>Categories</h1>
        <ul id="categories-list"></ul>

        <label for="new-category">New Category:</label>
        <input type="text" id="new-category" name="new-category" required>
        <button id="add-category-button">Add Category</button>
    </div>
    <script src="../js/categories.js"></script>
</body>
</html>